@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
body {
  padding-top: var(--navbar-height);
}

.navbar {
  --navbar-height: 4rem; /* Set the height of the navbar */
  height: var(--navbar-height);
}
